/* MARK: HEADER */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    padding-bottom: 200px;
    margin-bottom: 10px;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: -10px;
}

#logoBackground {
   background-color: transparent;
   margin-left: 20px;
   padding-top: 5px;
   transform: scale(1.5);
   transition: ease .5s;
}

#logoBackground:hover {
    opacity: 65%;
    transform: scale(1.6);
}

.navigation a {
    color: rgb(34, 34, 34);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    transition: .5s ease;
}

.navigation a:hover {
    opacity: 65%;
    transform: scale(1.6);
}

#landingPageTitle {
    text-align: center;
}

#landingPageTitle h1 {
    font-size: 75px;
    margin-bottom: 10px;
    margin-top: 60px;
    font-family: "Staatliches", cursive;
}

#landingPageTitle h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    margin-bottom: 150px;
    margin-top: -5px;
}

/* HOME */
.Home {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}


.container {
    width: 85vmin;
    height: fit-content;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#img-container {
    width: 100%;
    display: flex;
    animation: slide 10s infinite;
}

/* CONTACT FORM */
.formTable {
    flex-basis: 30%;
    flex-grow: 0;
    margin-bottom: 154px;
}

#contact {
    border-radius: 5px;
    background-color: rgba(198, 250, 129, 0.815);;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

#contact h5 {
    font-weight: 400;
}

#contact h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: -5px;
    margin-top: -2px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message {
    height: 100px;
}

input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

/* BENEFIT */

#benefitTitle {
    display: flex;
    justify-content: center;
    background-color: rgba(198, 250, 129, 0.815);
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}

.benefitPoints {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.benefit {
    font-weight: 500;
}

#benefits {
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    gap: 20px;
    text-align: justify;
}

.benefit {
    margin-bottom: 10px;
}

/* OUR PACKAGES */
.ourPackages h2 {
    display: flex;
    justify-content: center;
    background-color: rgba(198, 250, 129, 0.815);
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}
.packages1, .packages2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    gap: 15px;
}

#packagesgrid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.packagesPoin {
    display: flex;
    gap: 10px;
}

/* FOOTER */

.closing {
    border: solid 1px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 100px;
    margin-left: -50px;
    margin-right: -50px;
}
    
.closing h2 {
    font-size: 35px;
}

.closing button {
    padding: 20px 45px;
    background-color: rgba(198, 250, 129, 0.815);
    color: black;
    border: none;
    border-radius: 5px;
}

.closing button:hover {
    background-color: rgba(166, 245, 63, 0.815);
}


/* FOOTER */
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 10px;
    font-family: 'Poppins', sans-serif;
}

.copyright img {
    transform: scale(.2);
    margin-bottom: -120px;
    margin-top: -100px;
}
#terms {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 5px;
}
#service, #policy, a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

#service:hover {
    opacity: 50%;
}

#policy:hover { 
    opacity: 50%;   
} 



/* ANIMATION KEYFRAMES */

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(-150%);
    }
    55% {
        transform: translateX(-300%);
    }
    75% {
        transform: translateX(-300%);
    }
}


/* RESPONSIVENESS */

@media screen and (max-width: 600px) {
    body {
        transform: translateX(10px);
    }
    #benefitTitle {
        margin-right: -40px;
    }

    #ourPackagesTitle {
        margin-right: -40px;
    }
    .packagesPoin {
        font-size: 15px;
        align-items: center;
    }

    #packagesgrid {
        display: block;
    }
    
    .navigationBar {
        margin-right: -40px;
    }
    .Home {
        display: block;
    }
    .container {
        margin-bottom: 10px;
    }
    header {
        margin-bottom: -300px;
    }
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(0);
        }
        30% {
            transform: translateX(-200%);
        }
        50% {
            transform: translateX(-190%);
        }
        55% {
            transform: translateX(-400%);
        }
        75% {
            transform: translateX(-390%);
        }
    }
}


